body {
    margin: 0;
    font-family: sans-serif;
    color: #2f2f2fca;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.hero {
  position: relative;
  height: 100vh;
  background: url("./plant.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 28px;
  background: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s ease;
}

.cta:hover {
  background: #3a9b3f;
  transform: translateY(-3px);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: #2d2d2d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

}

.benefits {
  display: grid;
  gap: 30px;
  padding: 80px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .benefits {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
  }
}
